{
  "name": "@your-org/your-project-name",
  "version": "0.0.0-release-it",
  "license": "MIT",
  "type": "module",
  "scripts": {

  },
  "private": true,
  "devDependencies": {
    "@release-it/conventional-changelog": "^10.0.0",
    "release-it": "^18.1.2",
    "conventional-changelog-angular": "latest"
  }
}
